<div class="card">
    <div class="image-container">
      <img
        [src]="image"
        alt="Product Image"
        class="product-image"
        (click)="navigateToCheckOutForm()"
      />
      <button class="add-to-cart" (click)="addToCart(product.id)">
        Add to Cart
      </button>
    </div>
    <div class="card-body">
      <h3 class="product-name">{{ product.name }}</h3>
      <p class="price">${{ product.price }}</p>
      <div class="color-options">
        <div class="color-container">
          <div
            *ngFor="let color of colors"
            class="color"
            [ngStyle]="{
              'background-color': color,
              'border-color': selectedColorName == color ? 'white' : ''
            }"
            (click)="onColorClick(color)"
          ></div>
        </div>
        <div class="color-name" *ngIf="selectedColorName">
          {{ selectedColorName }}
        </div>
      </div>
    </div>
  </div>
  