<div class="content">
    <div class="card">
      <div class="cart-description">
        <span class="top">Your cart total is ${{ totalPrice }}</span>
        <span>FREE SHIPPING AND RETURN</span>
        <p-button (click)="orderCart()">Check Out</p-button>
      </div>
      <div class="cart-items" *ngFor="let product of activeCartProducts">
        <app-cart-items
          [product]="product"
          [cart]="getCartDetails(product.id)"
        ></app-cart-items>
      </div>
      <div class="cart-bottom">
        <div class="cart-bottom-top">
          <div class="bottom-des">
            <span>Subtotal</span>
            <div>${{ totalPrice }}</div>
          </div>
          <div class="bottom-des"><span>Shipping</span><span>Free</span></div>
          <div class="bottom-des"><span>VAT</span><span>$8.00</span></div>
        </div>
        <div class="cart-bottom-bottom">
          <div class="total">
            <span>Total</span>
            <div>${{ totalPrice + 8 }}</div>
          </div>
          <p-button class="doodoh" (click)="orderCart()">Check Out</p-button>
        </div>
      </div>
    </div>
  </div>
  